@model Festofilas.Models.MainViewModels.CommentPostModel

<form asp-controller="Home" asp-action="PostComment" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="Comment" class="col-md-2 control-label">Komentuoti:</label>
            <div class="col-md-10">
                <textarea asp-for="Comment" class="form-control" maxlength="140"></textarea>
                <span asp-validation-for="Comment" class="text-danger" />
            </div>
        </div>
        <input asp-for="ArticleId" value="@Model.ArticleId" type ="hidden"/>
        <input asp-for="IsFestival" value="@Model.IsFestival" type="hidden" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
